.navbar {
    top: 0;
    position: fixed;
    background: hsl(220, 9%, 16%);
    background: var(--secoundry-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0px 11px 22px #08080a;
    box-shadow: var(--shadow);
    width: 100%;
    z-index: 999;
    transition: 0.25s ease-in-out;
    font-size: 1.2rem;
    height: 10vh;
    height: var(--nav-height);
    .item {
        display: flex;
        align-items: center;
        transition: color 0.3s;
        color: #b2becd;
        color: var(--h-color);
        padding: 1em 1em;
        position: relative;
        height: 10vh;
        height: var(--nav-height);
        cursor: pointer;
        margin: 0 0.5em;
        &:hover {
            color: #f8f8f8;
            color: var(--text-color);
            .text {
                transform: scale(1) translateY(45px) translateX(-50%);
            }
        }
        svg,
        img {
            width: clamp(1em, 100%, 100%);
            height: clamp(1em, 100%, 100%);
        }
        .text {
            font-size: 0.7em;
            display: inline-block;
            letter-spacing: 0.15ch;
            font-weight: 400;
            background: hsl(218, 96%, 54%);
            background: var(--primary-color-accent);
            position: absolute;
            transform: scale(0) translateX(0) translateX(-50%);
            transition: transform 0.2s ease;
            opacity: 0.8;
            left: 50%;
            padding: 0.4em;
            color: #fff;
            border-radius: 0.5rem;
            user-select: none;
        }
    }
}
